body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.span-color{
    color: orange
}
section{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}